@model _50DersteMvc.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> Satış Yapma Ekranı</h2>
            </div>
            <form id="tbl1" method="post" action="/Satis/SatisEkle/">
                <div class="modal-body">
                    <label>Ürün Adı</label>
                    @Html.TextBoxFor(x => x.URUN, new { @class = "form-control" })
                    <br />
                    <label>Müşteri Adı Soyadı</label>
                    @Html.TextBoxFor(x => x.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>Adet</label>
                    @Html.TextBoxFor(x => x.ADET, new { @class = "form-control" })
                    <br />
                    <label>Fiyat</label>
                    @Html.TextBoxFor(x => x.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-primary">Verileri Kaydet</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>
